<div class="navigation-bar">
    <%= render 'devise/shared/links' %>
</div><br />

<div class="display-box">
    <h2>Update Account</h2>

    <%= form_for(resource,
        as: resource_name,
        url: registration_path(resource_name),
        html: { method: :put }
    ) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>

        <div class="email-field">
            <%= f.label :email, 'Email Address: ' %>
            <%= f.email_field :email %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="current-password-field">
            <%= f.label :current_password, 'Current Password: ' %>
            <%= f.password_field :current_password %>
        </div>

        <div class="new-password-field">
            <%= f.label :password, 'New Password (Optional): ' %>
            <%= f.password_field :password %>
        </div>

        <div class="new-password-confirmation-field">
            <%= f.label :password_confirmation, 'New Password Reentry: ' %>
            <%= f.password_field :password_confirmation %>
        </div>

        <div>
            <%= f.button 'Update' %>
        </div>
    <% end %>

    <h3>Cancel Account</h3>

    <%= button_to 'Cancel Account', registration_path(resource_name),
        data: { confirm: 'Are you sure?' },
        method: :delete
    %>
</div>

<div id="app"></div>