<div class="navigation-bar">
    <%= render 'devise/shared/links' %>
</div><br />

<div class="display-box">
    <h2>Reset Lost Password</h2>

    <%= form_for(resource,
        as: resource_name,
        url: password_path(resource_name),
        html: { method: :post }
    ) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>

    	<div class="email-field">
            <%= f.label :email, 'Email Address: ' %>
            <%= f.email_field :email, autocomplete: 'email' %>
    	</div>

    	<div>
            <%= f.button 'Send Reset Email' %>
    	</div>
    <% end %>
</div>

<div id="app"></div>